body {
   background-image: url("http://i.imgur.com/PmWS9qY.jpg");
}

h1 {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   text-align: center;
}

h2{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
text-align: center;
}

h4{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
text-align: center;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size: 20px;
}
img {
    display: block;
    margin: 0 auto;
}

iframe {
    background: transparent;
    border: 0px;
    margin: 0 auto;
    display: block;

}
